{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name='viewport' content='width=device-width'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div id="container">

            <!-- navbar -->
            <ul class="navigation">
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'order' %}">Order</a></li>
                <li><a href="{% url 'inventory' %}">Inventory</a></li>
                <li><a href="{% url 'schedule' %}">Schedule</a></li>
                <li><a href="{% url 'report' %}">Report</a></li>
            </ul>

            <!-- page content begins here -->

            {% block content %}{% endblock %}
            {% block scripts %}{% endblock %}

        </div>
    </body>
</html>
