{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name='viewport' content='width=device-width'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <div id="company-header">
                <h1 id="company-header-left">Blizzard Blast</h1>
                <img id="company-header-right" src="{% static '/media/milkshake-pngrepo-com.png' %}">
            </div>
        </header>
        <div id="nav-bar">
            <!-- navbar -->
            <ul class="navigation">
                <li class="navbar-item"><a href="{% url 'homepage' %}">Home</a></li>
                <li class="navbar-item"><a href="{% url 'order' %}">Order</a></li>
                <li class="navbar-item"><a href="{% url 'inventory' %}">Inventory</a></li>
                <li class="navbar-item"><a href="{% url 'schedule' %}">Schedule</a></li>
                <li class="navbar-item"><a href="{% url 'report' %}">Report</a></li>
            </ul>
        </div>
        <!-- page content begins here -->

        {% block content %}{% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>
