{% extends 'blizzardblast\templates\base.html' %}
{% load static %}

{% block title %}Blizzard Blast{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<br> <h1 class='view-title'>Blizzard Blast homepage</h1>
<h2 id="heading">About Us</h2>
    <div id="about_us">
        <div id="company-pic">
            <img src="{% static '/media/snowflake-pngrepo-com.png' %}">
        </div>
        <div id="company-description">
            <p>
                In 1996, Blizard Blast started off as a typical "lemon-stand" in Metro
                Manila, Philippines. Once it saw an exponential increase in its 
                customers in 2001, it branched out to provinces like CDO and Laguna. 
                What now started off as a small business with small-town flavors like ube, 
                mango, and chocolate has now expanded to flavors to that of strawberry-vanilla
                cake, mint-chocolate cream, and rocky-extra-chocolate road to name a few! In the 
                recent years, Blizard Blast now resides in different parts of the world such as 
                Malaysia, Singapore, Korea and even the United States! Indeed, it is an ice-cream 
                store loved by billions. In the recent years, Blizard Blast has been expanding its
                menu and experimenting different flavors that will be out by February 2022.
            </p>
        </div>
    </div>
{% endblock %}
