{% extends 'blizzardblast\templates\base.html' %}
{% load static %}

{% block title %}Inventory{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<h1 class='view-title'>Inventory</h1>

<div class="inventory buttonpanel">
    <button class="add show BaseFlavor"><a href="{% url 'baseFlavors' %}">Base Flavors</a></button>
    <button class="add show addOnIngredients"><a href="{% url 'addOnIngredients' %}">Ingredients</a></button>
</div>

<div class="instructions help">

    
</div>

{% endblock %}
