{% extends 'blizzardblast\templates\base.html' %}
{% load static %}

{% block title %}Inventory{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<h1 class='view-title'>Inventory</h1>
<!-- SEARCH BOX -->
<div id="filter-area">
    <select name="search-filter" id="search-filter">
        <option selected="selected">Filter</option>
        <option value="category">Category</option>
        <option value="name_alphabetical">Name: A-to-Z</option>
    </select>
</div>

<div class="inventory buttonpanel">
    <button class="add ingredient"><a href="{% url 'addingredient' %}">Add Ingredient</a></button>
    <button class="add"><a href="{% url 'addBaseFlavor' %}">Add Base Flavor</a></button>
</div>

<div id="order-table">
    <table>
        <!-- TABLE HEADER -->
        <tr>
            <th>Ingredient Name</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Price per Serving</th>
            <th>Replenished Stock?</th>
        </tr>

        
        
        <!-- TABLE ROWS WITH INFO -->
        {% for ingredient in inventory %}
        <tr>
            {% if ingredient.ingredient_name == baseflavor.bf_name %}
                <td>{{baseflavor.bf_name}}</td>
            {% else %}
                <td>{{ingredient.ingredient_name}}</td>
            {% endif %}
            <td>{{ingredient.category}}</td>
            <td>{{ingredient.quantity}}</td>
            <td>{{ingredient.price_per_serving}}</td>
            <td>{{ingredient.replenished_stock}}</td>
            
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
