{% extends 'blizzardblast\templates\base.html' %}
{% load static %}

{% block title %}Create Order{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

<div class="title-area">
    <h1 class='view-title'>Order</h1>
    <h3 class='view-subtitle'>Order Slip</h3>
</div>
<!-- SEARCH AREA-->
<div id="filter-area">
    <button class="filter-button"><a href="{% url 'order' %}">Order Slip</a></button>
    <button class="filter-button"><a href="{% url 'receipt' %}">Receipt</a></button>
    
    <input class="search-bar" size=60 type="text" placeholder="Search..">
    <button class="search-button">Search</button>
</div>

<div id="CRUD-features">
    <button class="crud-button"><a href="{% url 'addorder' %}">Add Order</a></button>
    <button class="crud-button">Delete Order</button>
    <button class="crud-button">Refresh</button>
</div>

<div id="order-table">
    <table>
        <!-- TABLE HEADER -->
        <tr>
            <th>customer_no</th>
            <th>customer_name</th>
            <th>date</th>
            <th>size</th>
            <th>base_recipe</th>
            <th>add_on_qty</th>
            <th>add_on_name</th>
        </tr>
        
        <!-- TABLE ROW WITH INFO -->
        <tr>
            <td>2039</td>
            <td>Anna Doe</td>
            <td>11/13/15</td>
            <td>12 oz</td>
            <td>base_receipe</td>
            <td>1</td>
            <td>
                mini marshmallows,<br>
                strawberry
            </td>
        </tr>

        <!-- TABLE ROW WITHOUT INFO -->
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>

    </table>
</div>
{% endblock %}
