{% extends 'blizzardblast\templates\base.html' %}
{% load static %}

{% block title %}Order{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

<div class="title-area">
    <h1 class='view-title'>Order</h1>
</div>

<div class="order buttonpanel">
    <!-- GETTING THE RESULTS AREA-->
    <div class="getresults area">
        <div class="get-results">
            <button class="loadresults orderslip-button"><a href="{% url 'orderslip' %}">Order Slip</a></button>
            <button class="loadresults receipt-button"><a href="{% url 'receipt' %}">Receipt</a></button>
        </div>
    </div>
</div>

{% endblock %}
