{% extends 'blizzardblast\templates\base.html' %}
{% load static %}

{% block title %}Schedule{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<h1 class='view-title'>Schedule </h1>
<table id="scheduling-table">
  <tr>
    <th>Week</th>
    <th>Staff</th>
    <th>Role</th>
    <th>Day-Mgr</th>
  </tr>
  
  {% for m in manager%}
  <tr>
    <td> {{m.role_date}}</td>
    <td> {{m.employee.employee_name}} </td>
    <td> {{m.role_description}} </td>
    <td> {{m.is_manager}} </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
