@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@200&display=swap');
/*INDEX.HTML
COLOR SCHEME
BLACK - #000505
ENG VIOLET - #3B3355
DARK BLUE GREY - #5D5D81
LIGHT STEEL BLUE - #BFCDE0
WHITE - #FEFCFD
*/


body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Poppins', sans-serif;
    color: #3B3355;
}

/* ======= NAV BAR ======= */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#filter-system-navbar, #nav-bar {
    display: flex;
    justify-content: center;
    border-top: 1px #3B3355 solid;
    border-bottom: 1px #3B3355 solid;
    margin: 1rem 18rem;
}

.navbar-item {
    float: left;
    padding: 0.7rem;
}

.navbar-item:hover{
    cursor: pointer;
    text-decoration: underline;
}

.navbar-item a {
    text-decoration: none;
    color: black;
}

#footer {
    padding: 1rem;
    background-color: #3B3355;
    margin-top: 2rem;
}

.footer-items {
    display: flex;
    justify-content: space-around;
}

.footer-item {
    display:inline-block;
}

.footer-item>a {
    color: #FEFCFD;
    text-decoration: none;
}

.footer-item>a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* ======= HEADING ======= */
header {
    padding: 0.5rem;
    animation: gradient 5s 5s infinite;
    color: #FEFCFD;
}

@keyframes gradient {
    0% {
        background-color:#5D5D81;
    }
    100% {
        background-color: #BFCDE0;
    }
}

#heading {
    text-align: center;
}

#company-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#company-header-left {
    margin-right:0;
}

#company-header-right {
    margin-left:0;
}

.view-title {
    text-align: center;
}

/* ============== HOME PAGE =========== */
#about_us {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#company-pic {
    margin-right: 0;
}

#company-description {
    font-family: 'Lato', sans-serif;
    flex-basis: 60%;
    margin-top: 1rem;
    margin-left: 5rem;
}

/* ======== ORDER.HTML, RECEIPT.HTML, INVENTORY.HTML ============ */
.title-area {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

.order-button {
    border:none;
    padding: 1rem 3rem;
    background-color: #3B3355;
    color: #FEFCFD;
    border-radius: 4rem;
}

.order-button:hover {
    cursor: pointer;
    background-color: #BFCDE0;
    color: #3B3355;
}

#filter-area {
    display: flex;
    justify-content: center;
}

.search-bar {
    border:none;
    padding: 12px;
    margin: 0 12px;
}

#filter-area>.search-button {
    border: none;
    background-color: #BFCDE0;
    color: #3B3355;
    margin: 0.3rem;
    padding: 0.5rem;
    border-radius: 2rem;
}

#filter-area>.search-button:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: #3B3355;
    color:#FEFCFD;
}

#search-filter {
    border: #3B3355 1px solid;;
    border-radius: 2rem;
    padding: 0.6rem;
}

#CRUD-features {
    display: flex;
    justify-content: center;
    margin: 4px auto;
    padding: 10px;
}

.crud-button, .filter-button {
    border: none;
    background-color: #BFCDE0;
    color: #3B3355;
    margin: 0.3rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
}

.filter-button:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: #3B3355;
    color:#FEFCFD;
}

.crud-button:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: #3B3355;
    color:#FEFCFD;
}

#order-table, #receipt-table, #scheduling-table {
    display: flex;
    justify-content: center;
}

a:link {
    text-decoration: none;
    border: none;
    color: #BFCDE0;
    margin: 0.3rem;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #BFCDE0;
}

table, th {
    border: 1px solid black;
    padding: 10px;
    border-collapse: separate;
}


/* ============ REPORT.HTML =============== */
#report-area {
    display: flex;
    justify-content: center;
}

.download-button {
    border: none;
    background-color: #BFCDE0;
    color: #3B3355;
    margin: 0.3rem 4rem;
    padding: 0.5rem 8rem;
    border-radius: 0.5rem;
}

.download-button:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: #3B3355;
    color:#FEFCFD;
}
