{% extends 'blizzardblast\templates\base.html' %}
{% load static %}

{% block title %}Create Order{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

<div class="title-area">
    <h1 class='view-title'>Order</h1>
    <h3 class='view-subtitle'>Receipt</h3>
    <button class="loadresults order"><a href="{% url 'order' %}">Order</a></button>
</div>


<div id="CRUD-features">
    <button class="crud-button">Add Order</button>
    <button class="crud-button">Delete Order</button>
    <button class="crud-button">Refresh</button>
</div>

<div id="receipt-table">
    <table>
        <!-- TABLE HEADER -->
        <tr>
            <th>customer_name</th>
            <th>transaction_no</th>
            <th>date</th>
            <th>customer_order</th>
            <th>price_per_item</th>
            <th>price_per_order</th>
            <th>employee_name</th>
            <th>total_sales</th>
        </tr>
        
        <!-- TABLE ROW WITH INFO -->
        <tr>
            <th>Anna Doe</th>
            <th>1409130034</th>
            <th>11/13/15</th>
            <th>
                12 oz Cookies & Cream<br>
                + 1 mini mallows<br>
                + 1 strawberry
            </th>
            <th>
                90.00<br>
                10.00<br>
                20.00<br>
            </th>
            <th>₱ 120.00</th>
            <th>April</th>
            <th>total_sales</th>
        </tr>

        <!-- TABLE ROW WITHOUT INFO -->
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>

    </table>
</div>
{% endblock %}
